@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Open+Sans&family=Poppins:wght@500&display=swap");

body {
  background-color: #282c34;
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

/* login */
.login label {
  font-family: "Open Sans", sans-serif;
  margin: 1em 0 0 0;
}

/* button */
.btn {
  margin: 2rem auto;
  width: 200px;
  height: 34px;
  font-size: 1.5em;
}

.btn btn-green {
  background-color: darkgreen;
  color: white;
  /* margin: 2rem; */
}

.btn btn-green:hover {
  background-color: green;
  color: black;
}

/* login */
.login label {
  font-size: 1.2em;
  /* margin-left: 2em; */
  margin: 0 auto;
  display: inline;
}

.login input {
  margin: 1em auto 1em;
  font-size: 1.1em;
  display: inline;
}

/* alert */
.alert {
  position: absolute;
  top: 30px;
  right: 30px;
}

/* misc */
.container {
  margin: 3em auto;
  padding: 3em;
  text-align: center;
  width: 50%;
}
.text-left {
  text-align: left;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
  justify-content: space-around;
  /* justify-items: center; */
  align-items: flex-start;
  border: 1px solid white;
  padding: 2em;
}

.flex-col {
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  /* gap: 0; */
}

.link {
  color: #61dafb;
}
