* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.App {
  text-align: center;
  display: grid;
}

.page {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  align-items: center;
}

.flex-row {
  flex-direction: row;
  justify-content: space-around;
}

nav {
  background-color: gray;
  justify-self: flex-start;
  align-self: flex-start;
  width: 400px;
}

.search {
  width: 400px;
}

.search ul .song {
}

ul .song img {
  width: 50px;
}

.song {
  justify-content: space-between;
  padding-left: 20px;
  margin: 2rem 0;
  border-top-color: gray;
  border-top-width: 1px;
}

.song div {
  width: 300px;
  text-align: left;
}
